body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;

}
h1{
    color: darkred;
    margin-bottom: 20px;
}
ul{
    background-color: white;
    padding: 20px;
}
li{
    margin-bottom: 10px;
}
a{
    text-decoration: none;
    color: darkblue;
}
a:hover{
    color: red;
}