*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.menu-container{
    color: #fff;
    background-color: #5995DA;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}
.menu{
    
    width: 900px;
    height: 50px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.link{
    display: flex;
    justify-content: flex-end;
    
}
.login{
    margin-left: 25px;
}
.header-container{
  color: #5995DA;
  background-color: #d6e9fe;
  display: flex;
  justify-content: center;  
  
}
.header{
    width: 900px;
    display: flex;
    height: 300px;
    justify-content: space-between;
    align-items: center;

}
.social,
.subscribe{
    align-self: flex-end;
    margin-bottom: 20px;
   
}
.photo-grid-container{
    display: flex;
    justify-content: center;
}
.photo-grid{
    width:900px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row-reverse;
}
.photo-grid-item{
    border: 1px solid #FFF;
    width: 300px;
    height: 300px;

}

.footer{
    display: flex;
    justify-content: space-between;
}
.footer-item{
    border: 1px solid #fff;
    background-color: #d6e9fe;
    height: 200px;
    flex: 2; 
}
.signup{
    margin-left: auto;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;

}
h1{
    color: darkred;
    margin-bottom: 20px;
}
ul{
    background-color: white;
    padding: 20px;
}
li{
    margin-bottom: 10px;
}
a{
    display: inline-block;
    background-color: lightgray;
    padding: 10px 6px;
    text-decoration: none;
    color: darkblue;
    border-radius: 4px;
}
a:hover{
    color: red;
}